@import '../contents';

.content {
  .products {
    margin:20px;
    width:660px;
  }
  .product {
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    width:200px;
  }
}

@media all and (max-width: 768px) {
  .content {
    .products {
      width:200px;
    }
    .product {
      width:400px;
    }
  }
}
