<!DOCTYPE html>
<html>
<head>
  <title>BouquetCore</title>
  <%= stylesheet_link_tag    "bouquet_core/application", media: "all" %>
  <%= javascript_include_tag "bouquet_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
