<!DOCTYPE html>
<html>
<head>
  <title>Bouquet store</title>
  <%= stylesheet_link_tag    "bouquet/store/application", media: "all" %>
  <%= javascript_include_tag "bouquet/store/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
