<!DOCTYPE html>
<html>
<head>
  <title>BouquetGate</title>
  <%= stylesheet_link_tag    "bouquet_gate/application", media: "all" %>
  <%= javascript_include_tag "bouquet_gate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
